# Site settings
title: 刘振翔(JasonLiu)
email: 2112103397@zjut.edu.cn
description: 振翔的个人主页
baseurl: ""
url: ""


# Google analytics ID: Remove or use your own!
# google_analytics: UA-167467135-1
# google_analytics_4: G-02KDGRRB2T
# google_tag_manager: GTM-TZ9Z7HZ

# Footer info
affiliation: >
    刘振翔<br/>
    硕士研究生<br/>
    学业奖学金获得者<br/>
    <a href="http://www.ie.zjut.edu.cn/" target="_blank">信息工程学院</a><br/>
    <a href="http://www.zjut.edu.cn/" target="_blank">浙江工业大学</a><br/>

location: >
  网络与智能通信实验室D125<br/>
  浙江工业大学信息工程学院<br/>
  浙江省杭州市西湖区<br/>
  留下街道留和路228号
contact: >
    <a href="mailto:2112103397@zjut.edu.cn" target="_blank"><i class="fa fa-envelope fa-1x"></i> 浙工大邮箱</a> <br/>
    <a href="mailto:jasonliu258@163.com" target="_blank"><i class="fa fa-envelope fa-1x"></i> 163邮箱</a> <br/>
    <a href="https://github.com/jasonlius"><i class="fa fa-github fa-1x"></i> Github主页</a>

# Pages shown in navbar
nav_pages:
  - name: 关于我
  - name: 研究
  - name: 生活
  - name: research
  - name: software
# - name: team
# - name: teaching

include:
  - .htaccess
  - _pages

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links


plugins: ['jekyll/scholar']

scholar:

  last_name: Bryngelson
  first_name: [Spencer H.]

  style: shb
  locale: en

  source: /cv/
  bibliography: ref.bib
  bibliography_template: bibtemplate
  sort_by: year, month
  order: descending

  replace_strings: true
  join_strings: true

  details_dir: bibliography
  details_layout: bibtex.html
  details_link: Details

  query: "@*"

  bibliography_list_attributes:
    reversed: "reversed"

exclude:
  - Gemfile
  - Gemfile.lock
  - update_boostrap.sh
  - switch_theme.sh
  - tags
  - Rakefile
